.tabela {
	display: inline-table;
  width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.campo{
	width: 15%;
}

.mat-column-ID {
 // width: 	8%;
  border-right: 1px solid currentColor;
  padding-right: 1%;
  text-align: center;
}

.mat-column-TICKER {
//	width: 	10%;
  font-style: italic;

}

.mat-column-DATA  {
//	width: 15px;
  text-align: center;
  font-weight: normal;
}

.mat-column-COTACAO {
 // padding-left: 2%;
	//padding-right: 2%;

  font-size: 16px;
//width: 20%;
	align-items: center;
}

.mat-column-EDITAR {
 // padding-right: 15%;
  font-size: 16px;
//	width: 20%;
	text-align: left;

}

