<h2>Registros de Cotações</h2>
<div class="container">
	<button type="button" class="new-button" routerLink="/cotacoes/novo">
		Nova cotação
	</button>
	<table mat-table [dataSource]="cotacoes" class="mat-elevation-z8 tabela">
		<ng-container matColumnDef="ID">
			<th mat-header-cell *matHeaderCellDef>ID</th>
			<td mat-cell *matCellDef="let element">{{ element.id }}</td>
		</ng-container>

		<ng-container matColumnDef="TICKER">
			<th mat-header-cell *matHeaderCellDef>TICKER</th>
			<td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
		</ng-container>

		<ng-container matColumnDef="DATA">
			<th mat-header-cell *matHeaderCellDef>DATA</th>
			<td mat-cell *matCellDef="let element">
				{{ element.data | date : "dd/MM/yyyy HH:mm" }}
			</td>
		</ng-container>

		<ng-container matColumnDef="COTAÇÃO">
			<th mat-header-cell *matHeaderCellDef>COTAÇÃO</th>
			<td mat-cell *matCellDef="let element">
				{{ element.cotacao | currency : "BRL" : "symbol" }}
			</td>
		</ng-container>

		<ng-container matColumnDef="EDITAR">
			<th mat-header-cell *matHeaderCellDef>EDIÇÃO</th>
			<td mat-cell *matCellDef="let element">
				<button mat-button color="primary" (click)="editarCotacao(element.id)">
					Editar
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="HISTORICO">
			<th mat-header-cell *matHeaderCellDef>HISTÓRICO</th>
			<td mat-cell *matCellDef="let element">
				<a
					[routerLink]="['/historico-cotacoes', element.idAtivo]"
					mat-button
					color="accent"
				>
					Ver Histórico
				</a>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
