.dark-high-contrast {
  --md-sys-color-primary: rgb(255 250 248);
  --md-sys-color-surface-tint: rgb(255 185 97);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 190 112);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(251 251 251);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(203 203 203);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(212 212 212);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 18 11);
  --md-sys-color-on-background: rgb(238 224 212);
  --md-sys-color-surface: rgb(24 18 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 54);
  --md-sys-color-on-surface-variant: rgb(255 250 248);
  --md-sys-color-outline: rgb(219 199 180);
  --md-sys-color-outline-variant: rgb(219 199 180);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 224 212);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(62 36 0);
  --md-sys-color-primary-fixed: rgb(255 226 196);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 190 112);
  --md-sys-color-on-primary-fixed-variant: rgb(35 18 0);
  --md-sys-color-secondary-fixed: rgb(231 231 231);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(203 203 203);
  --md-sys-color-on-secondary-fixed-variant: rgb(22 22 22);
  --md-sys-color-tertiary-fixed: rgb(230 231 231);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(202 203 203);
  --md-sys-color-on-tertiary-fixed-variant: rgb(20 23 23);
  --md-sys-color-surface-dim: rgb(24 18 11);
  --md-sys-color-surface-bright: rgb(64 56 48);
  --md-sys-color-surface-container-lowest: rgb(19 13 7);
  --md-sys-color-surface-container-low: rgb(33 26 19);
  --md-sys-color-surface-container: rgb(37 30 23);
  --md-sys-color-surface-container-high: rgb(48 41 33);
  --md-sys-color-surface-container-highest: rgb(59 51 43);
}
