<div class="container-login">
    <div class="container-login-central">
        <div class="container-header">
            <div class="titulo-login">Login</div>
            <div class="info-login">Entre para uma nova realidade</div>
        </div>
        <div class="container-form">
            <div class="group-input">
                <div class="text-info">Digite seu email</div>
                <input
                    class="input-form"
                    type="text"
                    name="email"
                    id="email"
                    placeholder="email"
                    #email
                />
            </div>
            <div class="group-input">
                <div class="text-info">Digite sua senha</div>
                <input
                    class="input-form"
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder="senha"
                    #senha
                />
            </div>
            <!-- Centraliza o botão no formulário -->
            <div class="group-button">
                <button
                    type="button"
                    (click)="validarLogin(email.value, senha.value)"
                    class="btn-login"
                >
                    ENTRAR
                </button>
            </div>
        </div>
    </div>
</div>
