@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:wght@400;700&family=Orbitron:wght@400;700&display=swap');
@import "../../styles/dark.scss";


.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
	background-position: 40%;
	background-position-y: 210%;
	background-image: url('../../assets/back-ground-3.jpg');
}

.container-login-central {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.container-header {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-login {
    font-size: 24px;
    color: #ff9933; /* Ajuste de cor para combinar com o tema */
	font-family: "Orbitron", sans-serif;
}

.info-login {
    font-size: 14px;
    color: #ffffff;
	font-family: "Exo 2", sans-serif;
}

.container-form .group-input {
    margin-bottom: 15px;
	margin-right: 20px;
}

.container-form .group-button {
    text-align: center; /* Centraliza o botão */
    margin-top: 20px;
}

.text-info {
    color: #ff9933; /* Ajuste de cor para combinar com o tema */
    margin-bottom: 5px;
    font-size: 14px;
	font-family: "Exo 2", sans-serif;
}

.input-form {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff9933;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 14px;
	font-family: "Exo 2", sans-serif;
}

.input-form::placeholder {
    color: #cccccc;
}

.btn-login {
    width: 50%;
    padding: 10px;
    background-color: #ff9933;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
	font-family: "Exo 2", sans-serif;
}

.btn-login:hover {
    background-color: #e68a00; /* Sombra mais escura no hover */
}
