@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:wght@400;700&family=Orbitron:wght@400;700&display=swap");
@import "app/styles/dark.scss";

body {
	background-color: $md-sys-color-background;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Exo 2", sans-serif;
}
